%h1 StaticPages#home
.home-postsbox
  .postsbox
    Your thoughts
    = form_for @post, url: user_posts_path(current_user) do |f|
      = f.text_area :content, size: '50x5', default: 'Write your status'
      = f.submit
