%h2 Welcome to EffBee!
%p The hottest social media site in town!

%br/
Create your first post now!
%br/
%br/
%br/
%br/
First sign in:
= link_to 'EffBee sign-n', new_user_session_url
%br/
%br/
then post away!
%br/
%br/
%br/
%br/
Have fun!
%br/
%br/
%br/
%br/
Regards,
EffBee team
effbee@example.com

asdfsdaf
