%h2 Welcome to Efbook!

%br/
Create your first post now!
%br/
%br/
%br/
%br/
First sign in at:
%br/
= link_to 'Efbook sign in', new_user_session_url
%br/
%br/
then share away! 
%br/
%br/
%br/
%br/
Have fun!
%br/
%br/
%br/
%br/
Cheers,
%br/
Efbook team
%br/
efbook@example.com
