.card-panel.teal.small.hoverable
  .commenter
    = link_to "#{commenter(comment)}", comment.commenter, class: 'pink-text'
  .timeago
    = time_ago_in_words comment.created_at
  %blockquote.white-text= simple_format comment.body
