- if @comment.errors.any?
  $("#p#{@post.id} .comment-error-messages").html("You can't have a blank comment.");
  $(".error-messages").empty();
- else
  $("#p#{@post.id} .posted-comments").append("#{j render 'comment', comment: @comment}");
  $("#p#{@post.id} #comment_body").val("");
  $(".comment-error-messages").empty();
  $(".error-messages").empty();
