.container
  - if facebooker_current_user? @user
    .friend-requests-link= link_to 'View Friend Requests', user_friend_requests_path(current_user)
  %h4.center-align Friends
  .section
    .facebookers
      - @friends.in_groups_of(3, false) do |group|
        .row
          - group.each do |friend|
            = render partial: 'friends/friend', locals: { friend: friend }
