$(".friend-request-action").remove();
$(".friend_requests_notification").html("#{j render 'friend_requests/friend_requests_notification'}");
$("<div/>").addClass("fb-friend").html("Friend Request Deleted").appendTo(".profilepic");
