alert("You are already friends with #{friend_requestor_name @friend_request}.");
$(".profilepic > .friend-request-action").remove();
$(".friend_requests_notification").html("#{j render 'friend_requests/friend_requests_notification'}");
