- if user_signed_in?
  %h4.left-align Add friends
- else
  %h4.center-align Join us on Facebook!
.section
  .container.facebookers
    - @users.in_groups_of(3, false) do |group|
      .row
        - group.each do |user|
          = render partial: 'users/user', locals: { user: user }
