$(".friend-request-action").remove();
$(".friend_requests_notification").html("#{j render 'friend_requests/friend_requests_notification'}");
$("<div></div>").addClass("fb-friend").html("You are friends with this person").appendTo(".profilepic");
