/$("##{@user.id} .friendstatus").css({"color": "lightcoral", "font-style": "oblique", "font-size": ".9rem"}).html("Added friend");
/moved to assets/Javascripts/channels/notification.js as this is being broadcasted and not being passed to render anymore in format.js

