alert("You are already friends with #{friend_requestor_name @friend_request}.");
$("#fr#{@friend_request.id}").remove();
$(".friend-requests > .headline").html("Respond to your #{pluralize(current_user.friend_invitations.count, 'Friend Request')}");
$(".friend_requests_notification").html("#{j render 'friend_requests/friend_requests_notification'}");
