/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "materialize/components/color";
$primary-color: color("indigo", "base") !default;
$secondary-color: color("pink", "base") !default;
@import 'materialize';
@import 'comments';
@import 'friend_requests';
@import 'friends';
@import 'likes';
@import 'posts';
@import 'registrations';
@import 'sessions';
@import 'static_pages';
@import 'users';


.brand {
  font-size: 2rem;
}

.alert {
  color: red;
  text-shadow: 1px 1px 3px cyan;
}

.notice {
  color: green;
  font-weight: bold;
  text-shadow: 1px 1px 3px cyan;
}

.friend_requests_notification {
  // @extend .right;
  // margin-right: 160px;
  display: inline-block;
}

.fr-notification-link {
  @extend .red-text, .text-lighten-1;
}

.nav-wrapper {
  // display: flex;
  // justify-content: space-around;
}

.notification-friend-invitations {
  display: inline-block;
  width: 200px;
}
