// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeago {
    // display: inline-block;
    font-size: .7rem;
}

.commentbutton {
  display: inline-block;
}

.comment-error-messages {
  display: inline-block;
  padding-left: 10px;
  font-size: .9rem;
  @extend .indigo-text, .text-lighten-1;
}

.commentbody {
  @extend .white-text;
}

.deletecomment {
  @extend .orange-text, .text-lighten-2;
}

.errorcomment {
  display: inline-block;
  margin-left: 10px;
  @extend .yellow-text, .text-lighten-2;
  font-size: .8rem;
}
