.new-session {
  margin: 0px auto;
  width: 50%;
  padding: 0 100px;
}

.forgot {
  margin: 0px auto;
  width: 50%;
  padding: 0 100px;
}

.loginbutton {
  padding-left: 43px;
} 

.sessionlinks {
  margin-left: 43px;
}

.fblogin {
  display: inline-block;
  padding-left: 3px;
}

.switch {
  padding-left: 43px;
}

.switch-remember {
  display: inline-block;
  // margin-left: 240px;
}

