.new-session {
  margin: 0px auto;
  width: 50%;
  padding: 0 100px;
}

.forgot {
  margin: 0px auto;
  width: 50%;
  padding: 0 100px;
}

.loginbutton {
  margin-left: 43px;
}

.sessionlinks {
  margin-left: 43px;
}
