// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.facebookers {
  > .facebooker { margin: 20px auto; }

}

.facebooker {
  > .pic-container { display: inline-block;}
  > .pic-container > .avatar { display: inline-block; border-radius: 10px; padding: 12px 10px 32px 13px; background: rgba(#cfe9f2, 0.72); }
  > .pic-container > .avatar > .avetar { vertical-align: middle; }
  > .user { display: inline;  }
  > .addbutton { display: inline-block; margin: 0 0 0 20px; }

}

#edit_user {
  > .fieldimage { margin: 10px 0;}
  > .fieldfile { display: block; margin: 0px auto; }
}

.profilepic {
  > .piccontainer { border-bottom: 0; margin: 0; padding: 0;}
  > .piccontainer > .pic {  padding: 12px 10px 32px 13px; margin: 10px 0 0 0; background: rgba(#cfe9f2, 0.72); border-radius: 10px; }
  list-style-type: none;
  margin: 0;
  padding: 0;
}
